<div class="table1">
<table id="users" class="display">
	<thead>
	<tr>
		<th>Email</th>
		<th>Name</th>
		<th>Role</th>
		<th>Status</th>
		<th>Action</th>
	</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.email,static_page_path(user),remote: true %></td>
				<td><%= user.name %></td>
				<td><%= select_tag "role",options_for_select([ "user","moderator","admin" ], user.role),class: 'user-role',id: "user_id_#{user.id}"%></td>
				
				<td><% if user.verified %>
						Verified
					<% else %>
						<%= link_to "verify",verify_static_page_path(user),method: :get,class: 'btn btn-default verify', remote: true %>
					<% end %>
				</td>
				<td><%= link_to_if !user.admin?, "Delete",static_page_path(user),data: {confirm: 'Are you sure'},
				 method: :delete, class: 'btn btn-primary remove',
				 remote: true%>
				 <% if current_user.admin? %>
				 <%= link_to "Edit",edit_static_page_path(user),remote: true,class: "btn btn-warning" %>
				 <% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% if current_user.admin? %>
	<%= link_to "Add User",new_user_registration_path,class: "btn btn-primary" %>
<% end %>
</div>
<div id="user-modal" class="modal fade"></div>