<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= form_for(@user,url:{action: :create}) do |f| %>
			<%= devise_error_messages! %>
			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Login" %>
		<% end %>
	</div>
</div>